body,
header,
p,
h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.cabecalho {
  background: #22263e;
  height: 100px;
}

.quebra-secao {
  width: 800px;
}

.titulo {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 25px;
}

.titulo-apuracao{
  text-align: center;
  font-size: 2rem;
}

.titulo-conteudo {
  margin: 30px auto;
  text-align: center;
}

.resultado_atual {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.entrada-dados {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 20px;
 }

.formulario {
  display: grid;
  justify-content: center; 
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .formulario {
    flex-wrap: wrap;
  }
}

#botao-adicionar{
  font-size: 1.3rem;
  background-color: #6abb6b;
  border-radius: 10px;
  height: 50px;
  width: 180px;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

#botao-adicionar:hover  {
  opacity: 1;
}

.botao-centro {
  text-align: center;
  margin: 20px 0;
}

#descricao,
#valor {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin: 10px auto;
}

.valor-receita {
  border-left: 5px solid #6abb6b;
}

.valor-despesa {
  border-left: 5px  solid red;
}

.selecao-receita, .selecao-despesa {
  font-size: 1.3em;
  border-radius: 5px;
}

.minhas_tabelas {
  margin-top: 50px;
  text-align: center;
}
