body,
header,
p,
h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(45deg, #a7cfdf 0%, #23538a 80%);
}

.cabecalho {
  background: #22263e;
  height: 100px;
}

.titulo {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 25px;
}

.titulo-conteudo {
  margin: 30px auto;
  text-align: center;
}

.formulario {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0px auto;
}

@media (max-width: 600px) {
  .formulario {
    flex-wrap: wrap;
  }
}

.tabela-apuracao {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 800px;
  margin: 0px auto;
}

#botao-adicionar {
  font-size: 1.3rem;
  background-color: #6abb6b;
  border-radius: 25px;
  height: 50px;
  width: 180px;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

#botao-adicionar:hover {
  opacity: 1;
}

.botao-centro {
  text-align: center;
  margin: 20px 0;
}

table,
thead,
th,
tr,
td {
  margin: 0px;
  padding: 0px;
  border: 2px solid #000;
}

#descricao,
#valor {
  width: 200px;
  height: 30px;
  border-radius: 25px;
}

.valor-receita {
  background-color: rgb(132, 245, 207, 0.5);
}

.valor-despesa {
  background-color: rgb(209, 99, 80, 0.5);
}

.selecao-receita, .selecao-despesa {
  font-size: 1.3em;
  border-radius: 5px;
}

.selecao-receita {
  background-color: rgb(132, 245, 207, 0.5);
}

.selecao-despesa {
  background-color: rgb(209, 99, 80, 0.5);
}
